/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #1c120f url('../images/page-bg.jpg') no-repeat top center;
		font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #c6c3c3;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #feb56f;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: normal;
/*JFB
		text-transform: uppercase;
*/
		text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1); 
    }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 110px; line-height: 120px; margin-bottom: 14px; font-weight: bold; letter-spacing: 1px;}
	h2 { font-size: 24px; line-height: 30px; margin-bottom: 10px; color: #c6c3c3; letter-spacing: 1px; }
	h3 { font-size: 23px; line-height: 28px; margin-bottom: 10px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 14px; line-height: 24px; color: #feb56f; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #2c221f; }
	blockquote cite { display: block; font-size: 12px; color: #4c423f; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #4c423f; }

	hr { border: solid #2c221f; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #feb56f; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #ffcfa1; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
/*JFB
	ul { list-style: none outside; }
*/
	ul { list-style: circle outside; margin-left: 30px; } 

	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
/*JFB
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
*/

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #d8771a; /* Old browsers */
		background: -moz-linear-gradient(top,  #d8771a 1%, #ef9e51 87%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d8771a), color-stop(87%,#ef9e51)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d8771a 1%,#ef9e51 87%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d8771a 1%,#ef9e51 87%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d8771a 1%,#ef9e51 87%); /* IE10+ */
		background: linear-gradient(to bottom,  #d8771a 1%,#ef9e51 87%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8771a', endColorstr='#ef9e51',GradientType=0 ); /* IE6-9 */

	  border: 1px solid #feb56f;
	  border-top: 1px solid #feb56f;
	  border-left: 1px solid #feb56f;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  display: inline-block;
	  font-size: 24px;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(0, 0, 0, .75);
	  cursor: pointer;
	  margin-bottom: 0px; /*JFB 20px -> 0px */
	  line-height: normal;
	  padding: 12px 40px;
	  color: #fff;
	  font-family: 'Yanone Kaffeesatz', sans-serif;
	  font-weight: normal;
	  text-transform: uppercase;
      filter: dropshadow(color=#000000, offx=1, offy=1); 
      -webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, .25);
      box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, .25);
    }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #fff;
		background: #ea8727; /* Old browsers */
		background: -moz-linear-gradient(top,  #ea8727 1%, #ef9e51 87%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ea8727), color-stop(87%,#ef9e51)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* IE10+ */
		background: linear-gradient(to bottom,  #ea8727 1%,#ef9e51 87%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8727', endColorstr='#ef9e51',GradientType=0 ); /* IE6-9 */

	  border: 1px solid #feb56f;
	  border-top: 1px solid #feb56f;
	  border-left: 1px solid #feb56f; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background: #ea8727; /* Old browsers */
		background: -moz-linear-gradient(top,  #ea8727 1%, #ef9e51 87%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ea8727), color-stop(87%,#ef9e51)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ea8727 1%,#ef9e51 87%); /* IE10+ */
		background: linear-gradient(to bottom,  #ea8727 1%,#ef9e51 87%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8727', endColorstr='#ef9e51',GradientType=0 ); /* IE6-9 */ 
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	button.learn-more{
		background: #181818; /* Old browsers */
		background: -moz-linear-gradient(top,  #181818 0%, #363636 87%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#181818), color-stop(87%,#363636)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #181818 0%,#363636 87%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #181818 0%,#363636 87%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #181818 0%,#363636 87%); /* IE10+ */
		background: linear-gradient(to bottom,  #181818 0%,#363636 87%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

	  min-width: 220px;
	  border: 1px solid #414140;
	  border-top: 1px solid #414140;
	  border-left: 1px solid #414140;
	}

	button.learn-more:hover{
		background: #202020; /* Old browsers */
		background: -moz-linear-gradient(top,  #202020 0%, #363636 87%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(87%,#363636)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #202020 0%,#363636 87%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #202020 0%,#363636 87%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #202020 0%,#363636 87%); /* IE10+ */
		background: linear-gradient(to bottom,  #202020 0%,#363636 87%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

	  border: 1px solid #414140;
	  border-top: 1px solid #414140;
	  border-left: 1px solid #414140;
	}

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


